#carousel{
  display: flex;
  width: 100%;


  button {
    background-color: inherit;
    color: white;
    border-style: hidden;
    margin-top: 3.9;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.83);


    }
  div{
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    width: 90%;
    border-style: hidden;

    div{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      align-items:center;
      color: white;

    }
  div:first-of-type{
    background-image: url("img/ny (1).jpg");
    }
  div:nth-of-type(2){
    background-image: url("img/chicago.jpg");
    }
  div:last-of-type{
    background-image: url("img/la.jpg");
  }
}
}
