footer{
  background: #2d2d30;
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5vw;
  img{
  width: 100%;
  margin-bottom:5vw;
  }

  span{
    img{
      width: 25px;
      height: 25px;
    }
  }
  p{
    margin-bottom: 3vw;
  }
}
