body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 4vw;
  background: #2d2d30;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  border: 0;
  font-size: 15px;
  letter-spacing: 4px;
  opacity: 0.9;
}

nav img {
  margin-right: 48vw;
  width: 7vw;
  height: 4vw;
}

nav img:hover {
  cursor: pointer;
  opacity: 0.9;
}

nav span {
  align-self: center;
}

nav span img {
  width: 2vw;
  height: 2vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

nav span img:hover {
  cursor: pointer;
  opacity: 0.9;
}

nav ul {
  list-style: none;
  display: flex;
  align-self: center;
  opacity: 0.7;
}

nav ul ul:hover {
  cursor: pointer;
  opacity: 0.9;
}

nav ul li {
  margin-right: 1.5vw;
}

nav ul ul {
  display: flex;
  flex-direction: column;
}

nav ul ul li {
  display: none;
}

nav ul:hover {
  cursor: pointer;
}

#carousel {
  display: flex;
  width: 100%;
}

#carousel button {
  background-color: inherit;
  color: white;
  border-style: hidden;
  margin-top: 3.9;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.83);
}

#carousel div {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  width: 90%;
  border-style: hidden;
}

#carousel div div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  align-items: center;
  color: white;
}

#carousel div div:first-of-type {
  background-image: url("img/ny (1).jpg");
}

#carousel div div:nth-of-type(2) {
  background-image: url("img/chicago.jpg");
}

#carousel div div:last-of-type {
  background-image: url("img/la.jpg");
}
